.detalle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.detalle-container h1, .detalle-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.detalle-container table {
    border-collapse: collapse;
    margin-bottom: 40px;
    max-width: 600px;
}

.detalle-container th, .detalle-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.detalle-container th {
    background-color: #f2f2f2;
    color: black;
    width: 400px; /* Ajusta este valor según tus necesidades */
}
