.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-home{
    margin-top: 100px;
    text-align: center;
}

.header-home h1{
    font-size: 50px;
    font-weight: 600;
}
.header-home p{
    font-size: 20px;
}

.bottom-container{
    margin-top: 200px;
}

.bottom-container h2{
    text-align: center;
}

.filtro-container button {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f4f4f4;
  transition: background-color 0.3s, color 0.3s;
}

.filtro-container button.activo {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

